<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>assignment 22.1.3</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css" crossorigin="anonymous">
</head>   
<body>
    <a href="/"><button class="nav-link">Home</button></a> 
    <main class="mtl">
                <h4>Product details updated successfully.</h4>
    </main>
    <script type="text/javascript" src="./js/jquery.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="./js/popper.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>